<style>
    #icon{
        height: 90px;
        width: 90px;
    }
    .imgbutton {
        position: relative;
        border: none;
        font-size: 28px;
        color: #FFFFFF;
        width: 91px;
        height: 91px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
    }
    
    .imgbutton:after {
        content: "";    
        background: #808080;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }
    
    .imgbutton:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }
    main{
        background-image: url("bg_02.png");
        background-repeat:no-repeat;
        background-size:100%;
    }
    #main_buttonfield{
        /*background-image: url("bg_02.png");
        background-repeat:no-repeat;
        background-size:100%;*/
    }
    #align{
        text-align:center;
    }
    a{ /* imagebutton inline-block */
        display: inline-block;
    }
</style>

<body>
    <div class="row"><img src="bg_01.png" style="width:100%;"></div>
    <!--<div class="row"></%= flash[:alert] %></div>
    
    <a href="http://www.facebook.com/"><img id="icon" src="icon_fb.png"></a>
    <a href="http://www.band.us/"><img id="icon" src="icon_band.jpg"></a>
    <a href="/blog/index"><img id="icon" src="icon_blog.jpg"></a>
    -->
    <div class="row" id="main_buttonfield">
        <div class="row container">
            <div class="col s4" id="align">
                <a href="https://m.facebook.com/sulhoon">
                    <div class="imgbutton">
                        <input id="icon" type="image" src="icon_fb.png" name="saveForm" class="btTxt submit" id="saveForm" value="&lt;a href=&quot;http://www.facebook.com/&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;http://www.facebook.com/rsrc.php/v3/yx/r/pyNVUg5EM0j.png&quot; border=&quot;0&quot; alt=&quot;facebook.com&quot;&gt;&lt;/a&gt;"/>
                    </div>
                </a>
            </div>
            <div class="col s4" id="align">
                <a href="/blog/index">
                    <div class="imgbutton">
                        <input id="icon" type="image" src="icon_blog.jpg" name="saveForm" class="btTxt submit" id="saveForm" />
                    </div>
                </a>
            </div>
            <div class="col s4" id="align">
                <a href="http://www.band.us/">
                    <div class="imgbutton">
                        <input id="icon" type="image" src="icon_band.jpg" name="saveForm" class="btTxt submit" id="saveForm" />
                    </div>
                </a>
            </div>
        </div>
        
        <div class="row container">
            <div class="col s4" id="align">
                <a href="/video/index">
                    <div class="imgbutton">
                        <input id="icon" type="image" src="icon_video.png" name="saveForm" class="btTxt submit" id="saveForm"/>
                    </div>
                </a>
            </div>
            <div class="col s4" id="align">
                <a href="/news/index">
                    <div class="imgbutton">
                        <input id="icon" type="image" src="icon_news.png" name="saveForm" class="btTxt submit" id="saveForm" />
                    </div>
                </a>
            </div>
            <div class="col s4" id="align">
                <a href="/users/invitation">
                    <div class="imgbutton">
                        <input id="icon" type="image" src="http://th22.st.depositphotos.com/1432405/12421/v/450/depositphotos_124215502-stock-illustration-sign-add-to-friends-icon.jpg" name="saveForm" class="btTxt submit" id="saveForm" />
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row container" id="align">
        <iframe src="//www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Fsulhoon&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:270px; height:80px;" allowTransparency="true"></iframe>
    </div>

    <!--
    </%= link_to "비디오", controller: "video", action: "index" %>
    </%= link_to "언론활동", controller: "news", action: "newsindex" %>
    </%= link_to "블로그", controller: "news", action: "blogindex" %>
    <form><input type="image" src="icon_fb.png" id="imageButton" onClick="autofill();return false;"/></form>
    <style>
        .myInput { background:url(path/to/img.jpg) 5px 5px no-repeat; }
    </style>
    <div class="inputContainer">
        <input class="myInput" type="text" name="myInput" id="myInput" />
        <a href="http://www.facebook.com" class="inputImg"><img src="icon_fb.png" /></a>
    </div>-->
</body>