<head>
    <h1>Sign In</h1>
</head>

<body>
    <!--</%= flash[:alert] %>-->
    <%= form_tag sessions_path do %>
        <div class="input-field col s6">
          <input placeholder="E-MAIL ID" id="first_name" type="email" class="validate" name="email">
          <label for="E-MAIL ID">E-MAIL ID</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="PASSWORD" id="first_name" type="password" class="validate" name="password">
          <label for="PASSWORD">PASSWORD</label>
        </div>
        <input type="submit" value="Sign in">
    <% end %>
</body>