<head>
  <nav>
    <div class="nav-wrapper cyan darken-1">
      <div class="col s12">
        <a href="#!" class="breadcrumb" style="padding-left:10px;">Sudo</a>
        <a href="/admin" class="breadcrumb">AdminPanel</a>
        <a href="/admin/news" class="breadcrumb">News</a>
      </div>
    </div>
  </nav>
</head>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

<%= form_tag '/admin/news/create', method: 'post' do %>
  <div class="row container">
    <div class="input-field">
      <input placeholder="뉴스 제목" id="first_name" type="text" class="validate" name="title">
      <label for="TITLE">뉴스 제목</label>
    </div>
  </div>
  <div class="row container">
    <div class="input-field">
      <input placeholder="뉴스 부제목" id="first_name" type="text" class="validate" name="subtitle">
      <label for="SUBTITLE">뉴스 부제목</label>
    </div>
  </div>
  <div class="row container">
    <div class="input-field">
      <i class="material-icons prefix">mode_edit</i>
      <textarea id="icon_prefix2" class="materialize-textarea" type="text" name="script"></textarea>
      <label for="icon_prefix2">기사 내용</label>
    </div>
  </div>
  <div class="row container">
    <div class="input-field">
      <input placeholder="POSTED_DATE" type="date" class="datepicker" name="posted">
      <label for="POSTED_DATE">POSTED_DATE</label>
    </div>
  </div>
  <div class="row container">
    <div class="input-field">
      <input placeholder="이미지 URL" id="first_name" type="text" class="validate" name="imgurl">
      <label for="IMAGE_URL">이미지 URL</label>
    </div>
  </div>
        
        <input type="hidden" name="publisher" value="<%=current_user.id%>">
        <input type="submit">
    </div>
<% end %>
<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>