<head>
  <nav>
    <div class="nav-wrapper cyan darken-1">
      <div class="col s12">
        <a href="#!" class="breadcrumb" style="padding-left:10px;">Sudo</a>
        <a href="/admin" class="breadcrumb">AdminPanel</a>
      </div>
    </div>
  </nav>
</head>

<style>
    .btn-shitlarge{
        width: 200px;
        height: 200px;
    }
</style>

<body>
    <div class="row"></div>
    <div class="row">
        <a class="waves-effect waves-light btn-large" href="/admin/prev_list"><i class="material-icons left">contacts</i>기존 DB</a>
        <a class="waves-effect waves-light btn-large" href="/admin/register"><i class="material-icons left">playlist_add</i>기존 DB 등록</a>
        <a class="waves-effect waves-light btn-large" href="/admin/publicity"><i class="material-icons left">cloud</i>기존DB 홍보</a>
        <a class="waves-effect waves-light btn-large"><i class="material-icons left">assignment_ind</i>초대현황</a>
    </div>
    <div class="row">
        <a class="waves-effect waves-light btn-large" href="/admin/admin_list"><i class="material-icons left">cloud</i>관리자현황</a>
        <a class="waves-effect waves-light btn-large" href="/admin/admin_enrollment"><i class="material-icons left">cloud</i>관리자등록</a>
        <a class="waves-effect waves-light btn-large" href="/admin/session_list"><i class="material-icons left">stars</i>가입자현황</a>
        <a class="waves-effect waves-light btn-large" href="/admin/publicity_new"><i class="material-icons left">cloud</i>가입자 홍보</a>
    </div>
    
    <div class="row">
        <a class="waves-effect waves-light btn-large" href="/admin/publicity/history"><i class="material-icons left">cloud</i>홍보 기록</a>
        <a class="waves-effect waves-light btn-large" href="/admin/video"><i class="material-icons left">cloud</i>영상</a>
        <a class="waves-effect waves-light btn-large" href="/admin/session_list"><i class="material-icons left">stars</i></a>
        <a class="waves-effect waves-light btn-large" href="/admin/publicity_new"><i class="material-icons left">cloud</i></a>
    </div>
</body>