<head>
  <nav>
    <div class="nav-wrapper cyan darken-1">
      <div class="col s12">
        <a href="#!" class="breadcrumb" style="padding-left:10px;">Sudo</a>
        <a href="/admin" class="breadcrumb">AdminPanel</a>
        <a href="/admin/video" class="breadcrumb">Video</a>
      </div>
    </div>
  </nav>
</head>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

<%= form_tag '/admin/video/create', method: 'post' do %>
    <div class="row">
        <div class="input-field col s6">
          <input placeholder="TITLE" id="first_name" type="text" class="validate" name="title">
          <label for="TITLE">TITLE</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="SUBTITLE" id="first_name" type="text" class="validate" name="subtitle">
          <label for="SUBTITLE">SUBTITLE</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="VIDEO_ID" id="first_name" type="text" class="validate" name="videoid">
          <label for="VIDEO_ID">VIDEO_ID</label>
        </div>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="icon_prefix2" class="materialize-textarea" type="text" name="videolink"></textarea>
              <label for="icon_prefix2">비디오 링크</label>
            </div>
          </div>
        </form>
        
        <input type="hidden" name="publisher" value="<%=current_user.id%>">
        <input type="submit">
    </div>
<% end %>