
<style>
  #but_sign{
    width:100%;
    height:50px;
    font-size:30px;
    vertical-align:middle;
  }
</style>

<head>
  <nav>
    <div class="nav-wrapper cyan darken-1">
      <div class="col s12">
        <a href="#!" class="breadcrumb" style="padding-left:10px;">Sudo</a>
        <a href="/admin" class="breadcrumb">AdminPanel</a>
        <a href="/admin/video" class="breadcrumb">Video</a>
      </div>
    </div>
  </nav>
</head>
<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

<%= form_tag '/admin/video/create', method: 'post' do %>

  <div class="row">
    <div class="row container">
      <div class="input-field">
        <input placeholder="영상 제목" id="first_name" type="text" class="validate" name="title">
        <label for="TITLE">영상 제목</label>
      </div>
    </div>
    <div class="row container">
      <div class="input-field">
        <input placeholder="영상 부제목" id="first_name" type="text" class="validate" name="subtitle">
        <label for="SUBTITLE">영상 부제목</label>
      </div>
    </div>
    <div class="row container">
      <div class="input-field">
        <input placeholder="VIDEO_ID" id="first_name" type="text" class="validate" name="videoid">
        <label for="VIDEO_ID">VIDEO_ID</label>
      </div>
    </div>
    <div class="row container">
      <div class="input-field">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="icon_prefix2" class="materialize-textarea" type="text" name="videolink"></textarea>
        <label for="icon_prefix2">비디오 링크</label>
      </div>
    </div>
    
    <input type="hidden" name="publisher" value="<%=current_user.id%>">
    <div class="row container">
        <input class="waves-effect waves-light btn" id="but_sign" type="submit" value="비디오 등록">
    </div>
  </div>
<% end %>