<style>
    strong{
        font-weight:bold;
        font-size:16pt;
        line-height:normal;
    }
    strong_sub{
        font-weight:bold;
        font-size:13pt;
        line-height:normal;
    }
</style>

<head>
  <nav>
    <div class="nav-wrapper green">
        <div class="col s2">
        </div>
        <div class="col s10">
            <a href="/blog/index" class="breadcrumb" style="padding-left:10px;"><strong_sub>블로그</strong_sub></a>
        </div>
    </div>
  </nav>
</head>

<body>
    <% @titles.each_with_index do |blog,i| %>
        <a href="http://blog.naver.com/PostList.nhn?from=postList&blogId=sulhoon21&currentPage=<%=i%>">
          <div class="col s12 m7">
            <div class="card horizontal" style="color:black;">
                <div class="card-image" style="width:38%;">
                  <img src="<%=@img[0]%>" style="width:100%;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h6><strong><%=blog%></strong></h6>
                    </div>
                    <div class="card-action">
                        <div style='width:190px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;'><nobr><%=@subtitles[i]%></nobr></div>
                    </div>
                </div>
            </div>
          </div>
        </a>
    <% end %>
</body>